.personal_container {
  padding: 1rem 5%;
  height: 100vh;
}

.content {
  margin-top: 2rem;
  padding-bottom: 3.5rem;
}

.personal_info {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 1.8rem;
  display: flex;
  border-radius: 5px;
  flex-wrap: wrap;
}

.personal_welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.personal_welcome div:nth-child(2) {
  border-left: 1px solid #e6e6e6;
}

.personal_welcome h2 {
  font-family: sahel-bold;
  font-size: 1.4rem;
  width: 80%;
  line-height: 26px;
}
.personal_welcome p,
.personal_task_info p {
  font-family: vazir-light;
  font-size: 0.8rem;
  color: var(--light-text);
  margin-top: 2px;
}
.personal_image_person {
  width: 6.5rem;
}

.personal_image_info {
  position: relative;
  margin-left: 2.6rem;
}
.personal_image_info div {
  position: absolute;
  bottom: 5%;
  left: 5%;
  background-color: white;
  border-radius: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal_image_usa {
  width: 1.7rem;
}

.personal_task_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  width: 100%;
  margin-right: 2.5rem;
  line-height: 28px;
  flex-wrap: wrap;
}

.personal_task_info div:first-child {
  display: flex;
  flex-direction: column;
}
.personal_task_info h1 {
  font-family: sahel-bold;
  font-size: 2.1rem;
}

.personal_task_info h1 span {
  font-family: sahel-fd;
}
.personal_task_info a,
.project_header a {
  font-family: vazir-bold;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--primary);
  border-bottom: 1px dotted var(--primary);
  width: fit-content;
  cursor: pointer;
  transition: 0.2s;
}
.personal_task_info a:hover,
.project_header a:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.personal_card {
  padding: 1rem 1rem;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 14px 26px -12px var(--primary);
  background-color: #5dc697;
  z-index: 0;
}
.personal_card span {
  position: absolute;
  left: 5%;
  font-size: 3.8rem;
  bottom: 15%;
  z-index: -1;
  color: #8cd6b5;
}
.personal_card p {
  position: relative;
  padding-left: 1rem;
  color: white;
  font-size: 0.8rem;
  font-weight: thin;
}

.personal_card :last-child {
  font-family: sahel;
  transition: 0.1s;
  cursor: pointer;
}

.personal_card :nth-child(3):hover {
  transition: 0.1s;
  color: var(--smoke-white);
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .personal_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .personal_info {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .personal_image_info {
    margin-left: 0;
  }
  .personal_welcome h2 {
    text-align: center;
    margin-right: 1.5rem;
    margin-top: 1rem;
  }

  .personal_welcome {
    display: flex;
    flex-direction: column;
  }
  .personal_welcome p {
    text-align: center;
    margin-top: 0.5rem;
  }
  .personal_welcome div:nth-child(2) {
    border-left: none;
  }

  .personal_task_info {
    margin-right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .personal_task_info div:first-child {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
  }
}

/*  ==================    Report Section   ====================== */
.report {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 1.7rem;
}

.report .status_team {
  grid-column: 1/3;
}

.report .status_work {
  height: fit-content;
  grid-column: 3/4;
}

@media screen and (max-width: 768px) {
  .report {
    display: block;
  }
  .report .status_work {
    margin-top: 1.5rem;
  }
}

.project,
.chart_for_work,
.chrat_bar,
.my_team,
.today_task,
.card_permium_version {
  padding: 2rem 1.7rem;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #e6e6e6;
  height: fit-content;
}
.project {
  position: relative;
}

@media screen and (max-width: 678px) {
  .project,
  .chart_for_work,
  .chrat_bar,
  .my_team,
  .today_task,
  .card_permium_version {
    width: 100%;
  }
}

.project_status {
  margin-bottom: 0.8rem;
}

.project_status > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
.project_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.project_header p {
  font-family: sahel;
  font-size: 0.8rem;
  font-weight: bold;
}
.project_image {
  position: relative;
  width: fit-content;
}

.project_image > img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 15px;
}

.project_image > div {
  width: 1.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 100%;
  padding: 2px;
}

.project_image > div img {
  border-radius: 100%;
}
.project_image_title {
  display: flex;
}

.project_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0.6rem;
  line-height: 18px;
}

.project_title p:nth-child(1) {
  font-family: sahel-bold;
  font-size: 0.84rem;
  color: #283252;
}
.project_title p:nth-child(2) {
  letter-spacing: -0.4px;
  font-family: vazir-fd;
  color: var(--light-text);
  font-size: 0.8rem;
}

.image_dot {
  display: flex;
  align-items: center;
}

.persons_images {
  display: flex;
}

@media screen and (max-width: 768px) {
  .persons_images {
    display: none;
  }
}
.persons_images .image {
  border-radius: 100%;
}

.persons_images .image > img {
  padding: 2px;
  background-color: white;
  width: 2rem;
  border-radius: 100%;
  margin-right: -0.8rem;
}

.images_button button {
  display: flex;
  background-color: white;
  border-radius: 100%;
  margin-right: 2rem;
  border: none;
  font-size: 1.2rem;
  color: var(--light-text);
  transition: 0.3s;
  padding: 0.4rem;
  cursor: pointer;
}
.images_button {
  position: relative;
}

.images_button button:hover,
.my_team_icons button:hover,
.tooltip_icons button:hover {
  background-color: #f2f2f2;
  transition: 0.3s;
}

.dropdown {
  z-index: 10;
  width: 230px;
  background-color: white;
  position: absolute;
  left: 5%;
  top: 120%;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

.dropdown_list {
  display: flex;
  flex-direction: column;
}
.dropdown_list div:nth-child(1),
.dropdown_list div:nth-child(4) {
  margin-top: 0.4rem;
}
.dropdown_list div:nth-child(2),
.dropdown_list div:nth-child(5) {
  margin-bottom: 0.4rem;
}

.dropdown_item {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.dropdown_item:hover {
  background-color: #f5f5f5;
  transition: 0.3s;
}

hr {
  background-color: #ededed;
  border: 0;
  height: 1px;
}
.dropdown_item span {
  font-size: 1.3rem;
  margin-left: 1rem;
  color: var(--icon-color);
  display: flex;
  align-items: center;
}
.dropdown_item:hover span {
  color: var(--primary);
}
.dropdown_item > div {
  line-height: 13px;
}
.dropdown_item > div p:nth-child(1) {
  font-family: "sahel-bold";
  font-size: 0.8rem;
  color: var(--dark);
}

.dropdown_item > div p:nth-child(2) {
  font-family: vazir-light;
  font-size: 0.75rem;
  color: var(--light-text);
}

/* Chart Area and Column*/

.chart_for_work,
.chrat_bar {
  margin-top: 1.5rem;
}
.my_team_persons {
  margin-top: 2rem;
}

.my_team_persons > div {
  display: flex;
  align-items: center;
}
.my_team_persons > div img {
  cursor: help;
  width: 2.5rem;
  border-radius: 100%;
}

.my_team_icons {
  display: flex;
  align-items: center;
}

.my_team_icons button {
  display: flex;
  border: 0;
  background-color: transparent;
  color: #cecfda;
  font-size: 0.85rem;
  transition: 0.3s;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}

.my_team_icons button:hover {
  color: var(--light-text);
}

.my_team_shortName {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orangered;
  font-family: "vazir-bold";
  font-size: 0.9rem;
  cursor: help;
}

.my_team_person {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my_team_person div:nth-child(1) {
  display: flex;
}

/* Create tooltip */

.tooltip {
  width: 290px;
  position: absolute;
  background: white;
  bottom: 125%;
  left: 0;
  transform: translateX(-43%);
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  display: none;
}

.tooltip::before {
  position: absolute;
  content: "";
  top: 100%;
  right: 48%;
  border: 7px solid;
  border-color: #fff transparent transparent transparent;
  z-index: 3;
}
.tooltip::after {
  position: absolute;
  top: 100%;
  right: 47.3%;
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #e6e6e6;
}

@media screen and (max-width: 768px) {
  .tooltip {
    transform: translateX(-80%);
  }
  .tooltip::before {
    right: 10%;
  }
  .tooltip::after {
    right: 9.3%;
  }
}

.profile_image {
  position: relative;
}
.profile_image:hover .tooltip,
.profile_image:hover .tooltip {
  display: inline;
}
.tooltip_content_images {
  height: fit-content;
  margin-left: 1rem;
  position: relative;
}
.tooltip_content_images > img {
  width: 3.5rem;
}
.tooltip_content_images .tooltip_image_usa {
  position: absolute;
  left: 0;
  bottom: -10%;
}
.tooltip_content_images .tooltip_image_usa img {
  width: 1rem;
}

.tooltip_content {
  display: flex;
  margin-bottom: 1.5rem;
}
.tooltip_content_text > div {
  display: flex;
  justify-content: space-between;
}

.tooltip_content_text > div p:nth-child(1) {
  font-family: sahel-bold;
  font-size: 0.76rem;
}
.tooltip_content_text > div p:nth-child(2) {
  font-family: vazir-light;
  color: var(--light-text);
  font-size: 0.75rem;
}
.tooltip_content_text > p:nth-child(2) {
  font-weight: bold;
  font-family: vazir-light;
  font-size: 0.7rem;
  letter-spacing: -0.2px;
  color: var(--primary);
}
.tooltip_content_text > p:nth-child(3) {
  font-family: vazir-light;
  letter-spacing: -0.3px;
  font-size: 0.75rem;
  color: var(--light-text);
}
.tooltip_icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.tooltip_icons button {
  border: 0;
  background-color: transparent;
  color: var(--icon-color);
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Create tooltip */

.today_task {
  margin-top: 1.5rem;
}

.today_task_list {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.card_permium_version {
  margin-top: 1.5rem;
  padding: 3rem;
}

.card_permium_version div {
  text-align: center;
}

.card_permium_version div p:nth-child(1) {
  font-family: "sahel-bold";
  font-size: 1rem;

  margin-top: 0.5rem;
}

.card_permium_version div p:nth-child(2) {
  font-family: "vazir-light";
  font-size: 0.85rem;
  color: var(--light-text);
}

.card_permium_version div button {
  box-shadow: 0 14px 26px -12px var(--primary);
  border: 0;
  cursor: pointer;
  background-color: var(--primary);
  font-family: "vazir-light";
  color: white;
  padding: 0.5rem 2.2rem;
  border-radius: 5px;
  margin-top: 0.8rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid var(--placeholder);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
input[type="checkbox"]:checked {
  border: 1px solid var(--primary);
  transition: 0.3s;
}

input[type="checkbox"]:after {
  content: "\f00c";
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Font Awesome 5 Free";
  color: var(--primary);
  display: none;
  transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}

input[type="checkbox"]:checked:after {
  display: block;
  transition: 0.3s;
}
