.wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.sidebar {
  display: flex;
  z-index: 1000000;
}

.container_pages {
  display: flex;
  width: calc(100% - 5.1rem);
  flex-direction: column;
  transition: 0.3s;
  margin-right: 5.1rem;
  position: fixed;
}

.pages {
  min-height: 100vh;
}
